*{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  /*background:#bbcff7;*/
  background-image: url("../img/blueprint.png");
  color:#fff;
}

ul{
  list-style:none;
  overflow:hidden;
  text-decoration:none;
  color:#000;
  background:#e8eef9;
  display:block;
  height:5em;
  width:22em;
  padding:1em;
  margin:1em;
  float:left;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.header {	
	color: white;
}

.company {	
	color: black;
	font-weight: bold;
}

.negative {	
	color: red;
}

.normal {	
	color: green;
}